$fontMain: Verdana, sans-serif;
$fontInput: Helvetica, sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$colorScheme: #ca4940;
$textColor: #919191;

.mainContent{
  font-family: $fontMain;
  .commentList{
    font-size: 16px;
  }
}

.commentForm{
  .formHeader{
    font-family: $fontOpenSans;
    color: $textColor;
    font-weight: 300;
    text-transform: uppercase;
  }
  .liveView{
    color: $colorScheme;
    height: 100px;
    .liveName{
      font-size: 20px;
    }
    .liveComment{
      font-size: 18px;
    }

  }
  .userInput{
    font-family: $fontInput;
  }
  .inputBtn{
    font-family: arial, sans-serif;
  }
}

body {
  padding: 50px;
}

